.hero-container {
    display:flex;
}

.hero {
    background-color: #1F2937;
    display:flex;
}

.header-container {
    display:flex;
}
.header, .mainSub{
    font-size: 18px;
    color: #E5e7eb;
}

.main-container {
    display:flex;
}

.main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}


