
.hero {
    background-color: #1F2937;
    display:flex;
    flex: none;
}

.main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.main, .mainImage{
    display:flex;
}

.main, .mainSub, .mainButton{
    display:flex;
    flex-direction: column;
}

.header, .mainSub{
    font-size: 18px;
    color: #E5e7eb;
}
